<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Register Page</title>
    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <div class="container">
      <div class="boxDaftar">
        <!-- gambar bag -->
        <div class="imgSc">
          <p class="img"></p>
        </div>
        <!-- gambar bag end -->
        <!-- grouping input box -->
        <div class="groupInput">
          <p class="textDaftar">Daftar</p>

          <p class="textUsername">Username</p>
          <div class="inputUsername">
            <p class="masukanUsername">Masukan Username</p>
          </div>

          <p class="textEmail">Email</p>
          <div class="inputEmail">
            <p class="masukanEmail">Masukan Email</p>
          </div>

          <p class="textPassword">Password</p>
          <div class="inputPassword">
            <p class="masukanPassword">Masukan Password</p>
          </div>

          <p class="textKonfirmasi">Konfirmasi</p>
          <div class="inputKonfirmasi">
            <p class="masukanKonfirmasi">Masukan Konfirmasi Password</p>
          </div>
          <!-- grouping input box end -->
          <!-- box -->
          <p class="box-agree"></p>
          <p class="agree">I agree</p>
          <!-- box end -->
          <!-- button  -->
          <div class="button">
            <p class="button-login">
              <a href="../login/login.html">Daftar</a>
            </p>
          </div>
          <!-- button end -->
        </div>
      </div>
    </div>
  </body>
</html>
